body {
  background-color: rgb(25, 25, 25);
  color: white;
}

#title{
  font-size: xx-large;
  height: auto;
  text-align: center;
  padding: 5px;
}

#topology {
  display: flex;
  width: 98%;
  justify-content: center;
}