@use "./theme" as theme;

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

body {
  overflow: hidden;
}

.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 154fr 881fr 45fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  
  .home__pod-details { grid-area: 2 / 3 / 3 / 6; }
  .home__trace-table { grid-area: 2 / 1 / 4 / 6; }
  .home__source-map { grid-area: 1 / 1 / 4 / 6; }
  .home__header { grid-area: 1 / 1 / 2 / 6; }

  .home__overlay {
    grid-area: 1 / 1 / 4 / 6;
    pointer-events: none;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 154fr 926fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    z-index: 1;

    .home__overlay__bottom-drawer-closed {
      grid-area: 2 / 1 / 2 / 2;

      display: flex;
      flex-direction: column;
      pointer-events: auto;
      transform: translateY(82vh);
      transition-property: transform;
      transition-duration: .6s;
      align-items: center;
    }

    .home__overlay__bottom-drawer-open {
      grid-area: 2 / 1 / 2 / 2;


      display: flex;
      flex-direction: column;
      pointer-events: auto;
      transform: translateY(0vh);
      transition-property: transform;
      transition-duration: .6s;
      align-items: center;
    }
    
    #footer-drawer {
      display: flex;
      flex-direction: column;
      background: #3C3C3C;
      font-size: 1.48vh;
      width: 14.479vw;
      height: 4.166vh;
      border-radius: 12px 12px 0px 0px;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    #footer-drawer:hover {
      cursor: pointer;
      background: #4a4a4a;
      pointer-events: auto;
    }

    @keyframes bottomslide {
      from {
        transform: translateY(95.1%);
      }
      to {
        transform: translateY(0%);
      }
    }
  }
}

#big-thing {
  height: 82vh;
  width: 100vw;
}

  .material-symbols-outlined {
    margin-left: 1vw;
    font-variation-settings:
    'wght' 700,
  }

  