@use "./theme" as theme;

.home {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 154fr 881fr 45fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
  .home__header { grid-area: 1 / 1 / 2 / 6; }
  .home__source-map { grid-area: 1 / 1 / 4 / 6; }
  .home__footer {
    display: flex;
    grid-area: 3 / 1 / 4 / 6; 
    justify-content: space-around;
    z-index: 1;
  }
  .home__pod-details { grid-area: 2 / 3 / 3 / 6; }
  .home__trace-table { grid-area: 2 / 1 / 4 / 6; }

  #home__footer-button {
    @include theme.container;

    background: #3C3C3C;
    width: .257vw;
    padding: 8px;
    gap: 8px; 
    border-radius: 12px 12px 0px 0px;
  }


  #login-container {
    @include theme.container;
  
    padding: 8px;
    width: 500px;
    height: 640.08px;
  }
  
  #logo {
    @include theme.logo;
  }
  
  input {
    @include theme.input;
    width: 436px;
  }
  
  #login-button {
    @include theme.button-style;
  
    width: 436px;
    height: 56px;
  
  }