@use "./theme" as theme;

.button-container {
  grid-area: 3 / 1 / 3 / 1;
  display: flex;
  align-items: flex-start;
  z-index: 5;
}

.logout-button {
  //  @include theme.button-style;
  z-index: 6;
  height: auto;
  // width: 80px;
  height: 3vh;
  width: 2.8vw;
  color: white;
  border-radius: 6px;
  font-size: 0.9vh;
  background: #3C3C3C;
  pointer-events: auto;

  &:hover {
    cursor: pointer;
    background: #4a4a4a;
    pointer-events: auto;
  }
}