/*
   Generic dark-gray container for holding the login elements, search bar, trace table, etc.
*/
@mixin container {
  background: #3C3C3C;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 30px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Make sure to specify width and height! */
}

/* Background color for main screen */
@mixin background {
  background-color: #161820;
}

/* Form used on login */
@mixin form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

@mixin placeholder-style {
  height: 19px;

  font-family: 'SF Pro';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Mid Gray */

  color: #919191;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;  
}

@mixin button-style {
  /* Blue 1 */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;

  background: #2F80ED;
  border-radius: 8px;
  border: 0px;

  /* Inside auto layout */
  margin-top: 10px;

  &:hover {
    background: #438be9;
  }
  &:active {
    background: #1a66c9;
  }  
}

@mixin logo {
  background: url(images/konstellation-logo.png);
  /*position: absolute;*/
  width: 400px;
  height: 53px;
  left: 0px;
  top: 0px;

  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 39.0261px;
  line-height: 53px;
  letter-spacing: 0.15em;

 // color: #EFEFEF;  
}

/*
   Formats all font
*/
* {
 // styleName: Body Default Bold;
  font-family: SF Pro;
//  font-size: 16px;
  font-weight: 700;
//  line-height: 19px;
//  letter-spacing: 0em;
//  text-align: left;
//  color: #F4F4F4;
}

// Input selector for all input
@mixin input {
  // box-sizing: border-box;
  // background-color: #3C3C3C;
  // /* Auto layout */

  // display: flex;
  // flex-direction: row;
  // align-items: center;
  // padding: 16px;
  // gap: 8px;

  // /* Mid Gray */

  // border: 1px solid #919191;
  // border-radius: 8px;

  // /* Inside auto layout */

  // flex: none;
  // order: 1;
  // align-self: stretch;
  // flex-grow: 0;
}