/*
   Generic dark-gray container for holding the login elements, search bar, trace table, etc.
*/
@mixin container {
  background: #3C3C3C;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 30px;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* Make sure to specify width and height! */
}

/* Background color for main screen */
@mixin background {
  background-color: #161820;
}

/* Form used on login */
@mixin form-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

@mixin placeholder-style {
  height: 19px;

  font-family: 'SF Pro';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */

  /* Mid Gray */

  color: #919191;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;  
}

@mixin button-style {
  /* Blue 1 */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 8px;

  background: #2F80ED;
  border-radius: 8px;
  border: 0px;

  /* Inside auto layout */
  margin-top: 10px;

  &:hover {
    background: #438be9;
  }
  &:active {
    background: #1a66c9;
  }  
}

/*
   Formats all font
*/
* {
 // styleName: Body Default Bold;
  font-family: SF Pro;
//  font-size: 16px;
  font-weight: 700;
//  line-height: 19px;
//  letter-spacing: 0em;
//  text-align: left;
//  color: #F4F4F4;
}