#trace-table-content {
  background: #3C3C3C;
  height: 82vh;
  width: 93.3vw;
  border-radius: 12px;
  filter: drop-shadow(0px 10px 24px rgba(0, 0, 0, 0.25));
}

#trace-table-window-header {
  $margin: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 2*$margin);
  margin: $margin;

  h1 {
    font-size: 3.05vh;
  }
}

#trace-table-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    font-size: 3.05vh;
  }
}

$selector-font-size: 1.48vh;
$selector-size: 4.72vh;

#trace-table-window-header__duration-container {
  display: flex;
  flex-direction: row;
  font-size: $selector-font-size;

  align-items: center;
  gap: 5px;
}

#duration-selector {
  display: flex;
  flex-direction: row;
  padding: 0px .83vw;
  font-size: $selector-font-size;

  width: 15.6vw;
  gap: .83vw;
  height: $selector-size;
  border: 1px solid #919191;
  border-radius: 12px;
  align-items: center;
  justify-content: space-around;
}

.duration-selector {
  cursor: pointer;
  font-size: $selector-font-size;

  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.duration-selector-active {
  
  font-size: $selector-font-size;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #242424;
  text-justify: center;
  height: calc($selector-size - 1px);
}

